body {
    font-family: sans-serif;
    background-color: #1f2026;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
    margin-bottom: 20px;
}

.logo{
    width: 350px;
    height: 150px;
}

.button {
    background-color: #f0a22b;
    color: black;
    text-decoration: none;
    padding: 15px;
    font-size: 24px;
    border-radius: 10px;
    display: block;
}

nav {
    border-top: 5px solid #FFFF40;
    border-bottom: 5px solid #FFFF40;
    padding: 25px 100px 25px 95px;
    display: flex;
    justify-content: space-between;
}

.nav-link {
    font-size: 24px;
    color: #9F3ED5;
    text-decoration: none;
    display: block;
}

h1 {
    text-align: center;
    color: #f0a22b;
    font-size: 36px;
    margin-top: 45px;
    margin-bottom: 40px;
}

h2{
    color: #f0a22b;
}

.post-text {
    font-size: 24px;
}

.about {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.inside{
    width: 1000px;
    color: #9F3ED5;
    font-size: 22px;
}
.img_inside{
    margin: 0px 50px 0px 50px;
}

.info {
    display: flex;
    flex-wrap: wrap;
    max-width: 1100px;
    margin: 0 auto;
}

.post {
    background-color: white;
    padding: 15px 45px 30px 45px;
    width: 400px;
    margin: 20px;
    position: relative;
}

.article-but {
    text-decoration: none;
    background-color: #133aac;
    color: white;
    font-size: 24px;
    text-align: center;
    padding: 10px 75px 10px 75px;
    display: block;
}

.full-image {
    margin: 100px 0px 100px 0px;
}

.social {
    display: block;
    width: 30px;
}

footer {
    background-color: white;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 30px 30px 20px 45px;
}

.footer-text {
    font-size: 24px;
    margin-right: 30px;
}

.footer-text span {
    color: #850AE5;
    font-weight: bolder;
}
© 2022 GitHub, Inc.